.form {
  width: 700px;
  background-image: linear-gradient(
      30deg,
      #2af598 12%,
      transparent 12.5%,
      transparent 87%,
      #2af598 87.5%,
      #2af598
    ),
    linear-gradient(
      150deg,
      #2af598 12%,
      transparent 12.5%,
      transparent 87%,
      #2af598 87.5%,
      #2af598
    ),
    linear-gradient(
      30deg,
      #2af598 12%,
      transparent 12.5%,
      transparent 87%,
      #2af598 87.5%,
      #2af598
    ),
    linear-gradient(
      150deg,
      #2af598 12%,
      transparent 12.5%,
      transparent 87%,
      #2af598 87.5%,
      #2af598
    ),
    linear-gradient(
      60deg,
      #009efd 25%,
      transparent 25.5%,
      transparent 75%,
      #009efd 75%,
      #009efd
    ),
    linear-gradient(
      60deg,
      #009efd 25%,
      transparent 25.5%,
      transparent 75%,
      #009efd 75%,
      #009efd
    );
  background-size: 40px 70px;
}

.detect-btn {
  background: #1cc076;
  border-radius: 5px;
  border: 2px solid #009efd;
}

input {
  border-radius: 5px;
}

.f3 {
  color: #fff;
}
