.img-container {
  width: 700px;
  height: auto;
  padding: 20px;
  background: linear-gradient(
    89deg,
    rgba(105, 248, 182, 0.5) 0%,
    rgba(102, 196, 253, 0.5) 100%
  );
  border-radius: 7px;
}

#inputImage {
  border-radius: 7px;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #00e5ff inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
